#login-1 {
  animation: blobAnim 3s ease-in-out infinite;
}

@keyframes blobAnim {
  0% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(15px);
  }
}